body.arabic {
	text-align: right;

	.navbar {
		.navbar-brand {
			margin-right: 0;
		}

		.search-box {
			margin-left: 10px !important;
			margin-right: auto;

			input {
				padding-right: 10px;
			}

			.search-btn {
				left: 0;
				right: unset;
				border-radius: 4px 0 0 4px;
			}
		}
	}

	.banner .outer-content .image-container {
		left: 0;
		right: unset;
		transform: scaleX(-1);
	}

	.banner .outer-content .banner-content {
		right: 0;

		h1.title,
		.search-box,
		.suggestions {
			margin-left: auto;
		}

		.search-box {
			position: relative;

			input {
				text-align: right;
				padding-right: 55px;
				padding-left: 120px;
			}

			i.fa {
				right: 20px;
				margin: 0;
			}

			button {
				left: 15px;
				margin-right: auto;
			}
		}
	}

	/////////////////////////////////////
	// .achievement .outer-content .outer-box,
	// .top-rated-services .outer-content .inner-content .card .card-body .category-and-rating,
	// .top-rated-services .outer-content .inner-content .card .card-body .user-container,
	// .footer .footer-nav,
	// .search-container .outer-content .header-title,
	// .search-container .outer-content .result-and-sort,
	// .card-box .card-body .outer-card-box,
	// .card-box .card-body .outer-card-box a.inner-card-box,
	// .card-box .price-and-save {
	//   flex-direction: row-reverse;
	// }

	.top-rated-services
		.outer-content
		.inner-content
		.card
		.card-body
		.user-container
		.avatar,
	.card-box .card-body .outer-card-box a.inner-card-box .avatar {
		margin-left: 10px;
		margin-right: 0;
	}

	.footer .footer-nav .social-icons ul {
		float: left;
	}

	//////////////////////////////////////

	.search-container {
		.search-filter-wrapper {
			.left {
				.select-box {
					margin-right: 0;
					margin-left: 15px;
				}
			}
		}

		.service-lists-wrapper {
			.result-and-sort {
				.headers {
					text-align: right;
				}

				.sort {
					.select2-container {
						margin-left: 0;
						margin-right: 8px;
					}
				}
			}
		}
	}

	.search-container .outer-content .result-and-sort .sort {
		margin: 0;
		margin-right: auto;
	}

	.card-box .card-body .outer-card-box .rating .no-of-rating {
		margin-left: 0;
		text-align: left;
	}

	.card-box .price-and-save a {
		text-align: left;
	}

	select {
		option {
			text-align: right !important;
		}
	}

	.pagination-container .pagination li.page-item {
		margin-left: 10px;
		margin-right: 0;
	}

	//////////////////////////
	.breadcrumb {
		padding: 0.75rem 1rem;
		padding-right: 0;

		.breadcrumb-item {
			padding-left: 0;
			padding-right: 0.5rem;

			&:first-child {
				padding-right: 0;
			}

			&::before {
				padding-right: 0;
				padding-left: 0.5rem;
			}
		}
	}

	.dropdown-menu {
		right: auto !important;
		left: 0 !important;
		text-align: right;
	}

	ul.main-menu {
		margin-right: 20px;
	}

	ul.main-menu
		li.nav-item
		.notification
		a.dropdown-item
		.contacts-list-item
		.text
		h4
		span {
		float: left;
	}

	////////////////////////////////
	.seller-profile .outer-content .inner-content .cover-photo {
		right: unset;
		left: 0;
	}

	.seller-profile
		.outer-content
		.inner-content
		.inner-box
		.seller-details
		.contact-btns
		a.btn,
	.seller-profile
		.outer-content
		.profile-details
		.tab-content
		.linked-acounts
		ul
		li
		a
		p {
		margin-right: 0;
		margin-left: 10px;
	}

	.seller-profile
		.outer-content
		.inner-content
		.inner-box
		.seller-details
		.name-designation-rating
		.rating
		.no-of-rating,
	.review-list-item .comments .review-inner-content .name span {
		margin-right: 10px;
		margin-left: 0;
	}

	.seller-profile .outer-content .profile-details .tab-content .languages ul li,
	.seller-profile .outer-content .profile-details .tab-content .skills ul li {
		margin-right: 0;
		margin-left: 5px;
	}

	.seller-profile
		.outer-content
		.inner-content
		.inner-box
		.seller-details
		.seller-image
		.level {
		right: unset;
		left: -10px;
	}

	.seller-profile
		.outer-content
		.profile-details
		.tab-content
		.tab-pane.reviews
		.review-headers
		.inner-box
		.rating
		ul {
		margin: 0 10px 0 5px;
	}

	.review-list-item .comments .review-inner-content .name {
		display: flex;
		align-items: center;
	}

	.review-list-item .comments {
		padding-left: 20px;
		padding-right: 20px;
	}

	.review-list-item .comments .review-inner-content .btns-group a {
		margin-right: 0;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		margin-left: 20px;
	}

	.review-list-item .comments .sub-comments .review-inner-content {
		padding-left: 15px;
		padding-right: 15px;
	}

	//////////////////////////////////////////
	.achievement .outer-content .outer-box {
		.box {
			&:last-child {
				padding-right: 20px;
				padding-left: 0;
			}
		}
	}

	/////////////////////////////////////
	.sing-in-and-up-container {
		text-align: right;
	}

	.sing-in-and-up-container
		.outer-box.right-side
		.inner-box
		.form
		.facebook-and-google
		.google-btn
		img {
		margin-right: 0;
		margin-left: 10px;
	}
	ul.main-menu
		li.nav-item
		.notification
		a.dropdown-item
		.contacts-list-item
		.text {
		padding-right: 10px;
		padding-left: 0;
	}
	.navbar-navs-one {
		// text-align: right;
	}

	/////////////////////////////////////
	.card .card-body.seller-info .seller-image {
		right: unset;
		left: 15px;
	}

	.card .card-body .content-info .gig-rating i.fa {
		margin-right: unset;
		margin-left: 6px;
	}
	.card .card-body .content-info .gig-rating span {
		margin-left: unset;
		margin-right: 3px;
	}
	.top-rated-services .headers {
		text-align: right !important;
	}
	.top-rated-services
		.outer-content
		.inner-content
		.swiper-container
		.swiper-btn-container {
		right: unset;
		left: 3px;
	}

	/////////////////////////////////////

	////////////////// Responsive Design //////////////////
	@media (min-width: 1024px) {
		ul.main-menu li.nav-item .notification {
			right: 0 !important;
			left: unset !important;
			text-align: right;
		}
	}

	@media (max-width: 1024px) {
		.card-box .card-body .outer-card-box a.inner-card-box {
			width: 100%;
		}
		//////////////////////////
		.banner {
			.outer-content {
				.banner-content {
					.suggestions {
						ul {
							li {
								margin-right: 0px;
								margin-left: 10px;
							}
						}
					}
					.search-box button {
						left: 10px;
						margin-right: auto;
					}
				}
			}
		}
		//////////////////////////
	}

	@media (max-width: 768px) {
		ul.main-menu .dropdown-menu.show {
			left: 50% !important;
		}
	}

	@media (max-width: 425px) {
		.search-container {
		}
	}

	@media (max-width: 375px) {
	}

	@media (max-width: 320px) {
	}

	////////////////// Responsive Design //////////////////
}
