.text-success {
  color: #08a141;
}

.text-warning {
  color: #fa952a;
}

.text-danger {
  color: #f00000;
}

.bg-success {
  background: #08a141;
}

.bg-warning {
  background: #fa952a;
}

.bg-danger {
  background: #f00000;
}

@media (max-width: 1024px) {
  .menu-list-group {
    padding: 5px 0;
  }
  /* //// */
  .card-box .card-body .outer-card-box a.inner-card-box {
    width: 100%;
  }
  /* ///////////////////////////// */
  .headers h2 {
    font-size: 30px;
  }
  /* ///////////////////////////// */
  /* ///////////////////////////// */
  .easy-to-do-it,
  .all-categories,
  .top-rated-services,
  .footer {
    padding: 50px 0;
  }
  /* ///////////////////////////// */
  .banner h1.title {
    font-size: 30px !important;
  }
  .banner .search-box {
    height: 60px !important;
  }
  .banner .search-box i.fa {
    line-height: 60px !important;
  }
  .banner .search-box button {
    right: 10px !important;
  }
  .banner .suggestions ul li {
    margin-bottom: 15px;
  }
  /* //////////////////////// */
  .easy-to-do-it .outer-box .img-container {
    width: 80px !important;
    height: 80px !important;
  }
  .easy-to-do-it .outer-box .title-and-desc h4 {
    font-size: 18px !important;
    font-weight: 500 !important;
  }
  .achievement .outer-content .outer-box {
    min-height: 80px;
  }
  .achievement .outer-content .outer-box h1 {
    font-size: 30px;
    font-weight: 700;
  }
  .achievement .outer-content .outer-box .icon {
    width: 60px;
    height: 60px;
  }
  .achievement .outer-content .outer-box p {
    font-size: 12px;
  }
  .achievement .outer-content .outer-box .box:last-child {
    padding-left: 10px;
  }
  .footer .footer-content .payment-methods ul li a img {
    height: 28px;
  }
  .sing-in-and-up-container .outer-box.right-side .inner-box .form {
    width: 60%;
  }
  .sing-in-and-up-container .outer-box.right-side .inner-box .form .form-group {
    margin-bottom: 6px !important;
  }
  .profile-container
.profile_info
.seller-card
.buttons-wrapper
> .btn-lrg-standard:nth-child(2) {
    margin-left: 10px;
  }
  .message-container .outer-content {
    -ms-grid-columns: 4fr 8fr;
        grid-template-columns: 4fr 8fr;
  }
  .message-container .outer-content .details-pane {
    display: none;
  }
  .attachments .attachment-lists,
  .tab-list-item.delivered-order .source-file {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) and (max-width: 1024px) {
  .settings-container .manage-tab-container {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .settings-container .manage-tab-container ul.nav-pills {
    padding-right: 0;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background: #ffffff;
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  .settings-container .manage-tab-container ul.nav-pills li a {
    font-size: 15px;
    color: #62646a;
    text-transform: capitalize;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px !important;
    line-height: 50px;
    display: block;
  }
  .settings-container .manage-tab-container ul.nav-pills li a.active {
    color: #ffffff !important;
    background: #007bff !important;
  }
  .order-request .outer-content .summary-wrapper .gig-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .order-request .outer-content .summary-wrapper .gig-details .box {
    width: 100%;
  }
  .order-request .outer-content .summary-wrapper .gig-details .box:last-child {
    padding-left: 0;
  }
  .order-request .outer-content .summary-wrapper .gig-details .box.box-img {
    margin-bottom: 20px;
  }
  .order-request .outer-content .summary-wrapper .gig-details .box.box-img img {
    width: 100%;
    height: 150px;
  }
  .feedback-wrapper .outer-content .summary-wrapper .gig-details .box:first-child {
    margin-bottom: 15px;
  }
  .feedback-wrapper .outer-content .summary-wrapper .gig-details .box h6 {
    margin-top: 0;
    font-size: 16px !important;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 6px 15px;
  }
  .navbar-toggler i.fa.fa-bars {
    color: #000 !important;
  }
  .navbar .container {
    /* position: relative; */
    /* border-top: 1px solid rgba(0, 0, 0, 0.05); */
  }
  .navbar ul.main-menu li.nav-item {
    margin: 0;
    line-height: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    text-align: center;
  }
  .navbar .search-box {
    display: none;
  }
  .navbar .navbar-collapse ul:last-child {
    display: none;
  }
  /* ///////////////////////////// */
  .navbar .nav-ul-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .navbar .navbar-navs-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /* //////////////////////////// */
  .search-container .filter-options {
    display: none;
  }
  /* /////////////////////////// */
  ul.main-menu .dropdown-menu.show {
    right: unset;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  /* /////////////////////////// */
  .all-categories .outer-content a.category-box .img-container {
    width: 50px;
    height: 50px;
  }
  .all-categories .outer-content a.category-box {
    padding: 20px 10px;
  }
  .all-categories .outer-content a.category-box h4 {
    font-size: 14px;
  }
  .all-categories .outer-content a.category-box .line {
    width: 60px;
  }
  /* /////////////////////////// */
  .footer .footer-content ul li {
    list-style: none;
    line-height: 26px;
  }
  .footer .footer-content .categories .inner-list-group {
    -ms-grid-columns: 7fr 5fr;
        grid-template-columns: 7fr 5fr;
  }
  .categories-card a .category-image {
    height: 160px;
  }
  .categories-card a span.title h6 {
    font-size: 14px;
  }
  .filter-options {
    display: none;
  }
  .menu-category-container .outer-content .inner-content .category-lists-container ul li a {
    font-size: 14px;
  }
  .sing-in-and-up-container .outer-box.right-side .inner-box .form {
    width: 80%;
  }
  .message-container .outer-content {
    -ms-grid-columns: 5fr 7fr;
        grid-template-columns: 5fr 7fr;
  }
  .manage-order .outer-content .manage-tab-container {
    display: block;
    -ms-grid-columns: unset;
        grid-template-columns: unset;
  }
  .manage-order .outer-content .manage-tab-container ul.nav-pills {
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background: #ffffff;
    margin-bottom: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 5px;
  }
  .manage-order .outer-content .manage-tab-container ul.nav-pills li {
    min-width: 90px;
    line-height: 40px;
  }
  .manage-order .outer-content .manage-tab-container ul.nav-pills li a {
    font-weight: 700;
    font-size: 12px;
    padding: 0 10px !important;
    text-align: center !important;
    display: block;
  }
  .manage-order .outer-content .manage-tab-container ul.nav-pills li a.active {
    -webkit-box-shadow: none;
            box-shadow: none;
    background: #007bff;
    color: #ffffff;
  }
  .manage-order .outer-content .manage-tab-container ul.nav-pills li a span.count {
    display: none;
  }
  .manage-order .outer-content .manage-tab-container .table td {
    font-size: 12px !important;
    font-weight: 600;
  }
  .create-service
.create-service-tabs
.inner-service-content-box
.btn-container
.btn-groups .btn:last-child {
    display: none;
  }
  .order-request .outer-content .order-details .inner-box {
    display: block;
  }
  .order-request .outer-content .order-details .inner-box .box {
    width: 100%;
  }
  .order-request .outer-content .order-details .inner-box .box:nth-child(1) {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }
  .order-request .outer-content .order-details .inner-box .box:nth-child(2) {
    padding-left: 0;
    margin-bottom: 20px;
  }
  .order-request .outer-content .summary-wrapper .gig-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .order-request .outer-content .summary-wrapper .gig-details .box {
    width: 100%;
  }
  .order-request .outer-content .summary-wrapper .gig-details .box:last-child {
    padding-left: 0;
  }
  .order-request .outer-content .summary-wrapper .gig-details .box.box-img img {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
  }
  .settings-container {
    padding: 20px 0;
  }
  .settings-container .outer-content .manage-tab-container ul.nav-pills li {
    min-width: 20%;
  }
  .settings-container .outer-content .transaction-history .list-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .settings-container .outer-content .transaction-history .list-item .price,
  .settings-container .outer-content .transaction-history .list-item .info,
  .settings-container .outer-content .transaction-history .list-item .receipt {
    -ms-flex-preferred-size: unset !important;
        flex-basis: unset !important;
  }
  .settings-container .outer-content .transaction-history .list-item .price {
    margin-bottom: 20px;
  }
  .admin .buyer-order .submit-requirements .rqm-box-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align-last: left;
  }
  .admin .attachment-lists {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .admin .summary-wrapper {
    margin-top: 30px;
  }
  .admin .gig-extras {
    padding: 30px 15px !important;
  }
  .admin .content-body .gig-extras {
    padding: 0 !important;
  }
  .resolution-center .summary-wrapper {
    margin-top: 30px;
  }
  .feedback-wrapper .outer-content .summary-wrapper .gig-details .box:first-child {
    margin-bottom: 0px;
  }
  .feedback-wrapper .outer-content .summary-wrapper .gig-details .box.box-img img {
    height: 180px;
    margin-bottom: 15px;
  }
  .feedback-wrapper .outer-content .summary-wrapper .gig-details .box h6 {
    margin-top: 0;
    font-size: 16px !important;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  /* ///////////////////////////// */
  .card .card-img-top {
    height: 150px;
    overflow: hidden;
  }
  /* ///////////////////////////// */
  .resolution-center .summary-wrapper .gig-details .box img,
  .admin .summary-wrapper .gig-details .box img,
  .order-seller .summary-wrapper .gig-details .box img {
    width: 100%;
    height: 320px !important;
  }
  /* ///////////////////////////// */
}

@media (max-width: 425px) {
  .banner {
    height: unset;
  }
  .banner .outer-content {
    height: 400px;
  }
  .banner .outer-content .banner-content .search-box {
    height: 60px;
  }
  .banner .outer-content .banner-content {
    width: 100%;
  }
  .banner .outer-content .image-container {
    display: none;
  }
  .banner .outer-content .banner-content h1.title {
    font-size: 30px;
    width: 100%;
    margin: 0;
  }
  /* //////////////////////////////// */
  .navbar .navbar-brand img {
    height: 40px;
  }
  /* ///////////////////////////// */
  .page-headers {
    padding: 20px 0;
  }
  .page-headers h2 {
    font-size: 24px;
  }
  /* /////////////////////////// */
  .pagination-container {
    padding-top: 10px;
  }
  /* /////////////////////////// */
  .search-container .search-filter-wrapper {
    display: none;
  }
  .search-container .service-lists-wrapper {
    padding: 30px 0;
  }
  .search-container .service-lists-wrapper .result-and-sort {
    display: block;
  }
  .search-container .service-lists-wrapper .result-and-sort .headers {
    margin-bottom: 15px;
  }
  .search-container .service-lists-wrapper .result-and-sort .sort p {
    display: none;
  }
  .search-container .service-lists-wrapper .result-and-sort .sort .select2-container {
    min-width: 100%;
    margin-left: 0;
  }
  .card .card-box {
    margin-bottom: 20px !important;
  }
  .card .card-img-top {
    width: 100%;
    height: 200px !important;
  }
  /* ////////////////////////// */
  .headers h2 {
    font-size: 22px;
  }
  /* ////////////////////////////// */
  .all-categories .outer-content .row .col-box:nth-last-child(1) .category-box {
    margin-bottom: 0 !important;
  }
  .all-categories .outer-content .row .col-box:nth-last-child(2) .category-box,
  .all-categories .outer-content .row .col-box:nth-last-child(3) .category-box,
  .all-categories .outer-content .row .col-box:nth-last-child(4) .category-box {
    margin-bottom: 30px !important;
  }
  /* ////////////////////////////// */
  .achievement .outer-content {
    display: block;
    text-align: center;
  }
  .achievement .outer-content .outer-box {
    padding: 20px 0;
  }
  .achievement .outer-content .outer-box .box {
    padding: 0 !important;
  }
  .achievement .outer-content .outer-box .icon {
    width: 50px;
    height: auto;
    margin: 20px auto;
  }
  /* ///////////////////////////////// */
  .all-categories .outer-content .category-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .all-categories,
  .top-rated-services,
  .easy-to-do-it {
    padding: 50px 0;
  }
  .top-rated-services .outer-content .inner-content .swiper-container .headers {
    width: 70%;
  }
  .profile-container {
    padding: 20px 0;
  }
  .profile-container .recommended .card {
    margin-bottom: 20px;
  }
  .review-section {
    display: none;
  }
  .review-section .review-header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .review-section .review-header h4 {
    margin-bottom: 15px !important;
  }
  .review-section .review-header .select2-container {
    width: 100% !important;
  }
  .review-section .header-stars {
    display: block;
  }
  .review-list {
    display: none;
  }
  .menu-category-container {
    padding: 40px 0;
  }
  .menu-category-container .outer-content .inner-content .category-lists-container {
    margin-bottom: 20px;
  }
  .menu-category-container .outer-content .inner-content .category-lists-container ul li {
    line-height: 40px;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
    position: relative;
  }
  .menu-category-container .outer-content .inner-content .category-lists-container ul li:first-child {
    border-top: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
  }
  .menu-category-container .outer-content .inner-content .category-lists-container ul li::before {
    content: "\f101";
    position: absolute;
    right: 0;
    font-size: 16px;
    font-family: "FontAwesome";
  }
  .menu-category-container .outer-content .inner-content .categories-card a .category-image {
    height: 220px;
  }
  .menu-category-container .outer-content .inner-content .category-thumbnail-lists .row .col-box:nth-last-child(1) .categories-card a {
    margin-bottom: 0;
  }
  .menu-list-group {
    display: none;
  }
  .menu-list-group #right-button a,
  .menu-list-group #left-button a {
    width: 30px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .menu-list-group #right-button a {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .message-container .outer-content {
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
    height: unset;
  }
  .message-container .outer-content .inner-header {
    padding: 15px;
  }
  .message-container form {
    display: none !important;
  }
  /* /////////// srvice details //////////////// */
  .service-details .table-package {
    display: none;
  }
  .service-details .user-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .service-details .user-info .avatar_name {
    margin-bottom: 15px;
  }
  .service-details .user-profile-image {
    display: block !important;
    text-align: center;
    padding: 15px !important;
  }
  .service-details .user-profile-image label {
    margin-bottom: 15px;
  }
  .service-details .user-profile-image a {
    width: 100%;
  }
  .service-details .user-profile-image .right {
    padding-left: 0 !important;
  }
  .service-details .user-info-rating {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .service-details .stats-desc {
    padding: 15px !important;
  }
  .service-details .user-stats {
    display: block !important;
  }
  .service-details .user-stats li {
    margin-bottom: 10px;
    display: inline-block !important;
    width: 100%;
  }
  .service-details .user-stats li strong {
    float: right;
  }
  .service-details .user-stats li:last-child {
    margin-bottom: 0;
  }
  .service-details .description h3 {
    padding-bottom: 0 !important;
  }
  .service-details .gig-thumbnails {
    margin: 10px 0 !important;
  }
  .service-details .gig-thumbnails .slider {
    width: 100%;
    height: 220px !important;
  }
  .service-details .gig-thumbnails .slider .swiper-container {
    padding: 0 !important;
  }
  .service-details ul.metadata {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .service-details ul.metadata li {
    width: 100% !important;
  }
  .service-details ul.metadata li:first-child {
    margin-bottom: 10px;
  }
  .service-details ul.metadata li.metadata-attribute ul li {
    width: auto !important;
  }
  /* /////////// srvice details //////////////// */
  /* /////////// footer //////////////// */
  .footer {
    text-align: center;
    padding: 30px 0;
  }
  .footer .footer-nav {
    display: unset;
  }
  .footer .footer-nav .footer-hearder,
  .footer .footer-nav .social-icons {
    width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .footer .footer-nav .social-icons {
    width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: -ms-grid;
    display: grid;
    place-content: center;
    margin-top: 20px;
  }
  .footer .footer-nav .social-icons ul {
    float: none;
  }
  .footer .footer-content .categories,
  .footer .footer-content .support,
  .footer .footer-content .payment-methods {
    margin-top: 30px;
  }
  .footer .footer-content .categories .inner-list-group {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: unset;
        grid-template-columns: unset;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .footer .footer-content ul {
    margin-top: 0;
  }
  .footer .footer-content h5 {
    margin-bottom: 10px;
  }
  .footer .footer-content .payment-methods h5 {
    margin-bottom: 20px;
  }
  .footer .footer-content .payment-methods ul li {
    margin-bottom: 20px;
  }
  /* /////////// footer //////////////// */
  .sing-in-and-up-container {
    padding: 40px 20px;
    max-height: unset;
    height: 100%;
  }
  .sing-in-and-up-container .outer-box.left-side {
    display: none;
  }
  .sing-in-and-up-container .outer-box.right-side {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .sing-in-and-up-container .outer-box.right-side .inner-box .form {
    width: 100%;
  }
  .sing-in-and-up-container .outer-box.right-side .inner-box .form .buyer-account {
    font-size: 13px;
  }
  .sing-in-and-up-container .outer-box.right-side .inner-box .form .form-group {
    margin-bottom: 10px !important;
  }
  .sing-in-and-up-container .outer-box.right-side .inner-box .form .or::after {
    height: 0.5px;
    z-index: 0;
    opacity: 0.5;
  }
  .breadcrumb-container {
    display: none;
  }
  .manage-order .outer-content .manage-tab-container {
    display: block;
    -ms-grid-columns: unset;
        grid-template-columns: unset;
  }
  .manage-order .outer-content .manage-tab-container ul.nav-pills {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    margin-bottom: 20px;
    -webkit-box-pack: unset !important;
        -ms-flex-pack: unset !important;
            justify-content: unset !important;
    padding: 0;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: none;
    grid-gap: 5px;
  }
  .manage-order .outer-content .manage-tab-container ul.nav-pills li {
    min-width: unset;
    line-height: 40px;
    border-radius: 4px;
    background: #ffffff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  .manage-order .outer-content .manage-tab-container ul.nav-pills li:nth-child(4) {
    grid-column: auto / span 2;
  }
  .manage-order .outer-content .manage-tab-container ul.nav-pills li:last-child {
    grid-column: auto / span 2;
  }
  .manage-order .outer-content .manage-tab-container .table td {
    font-size: 12px !important;
    font-weight: 600;
  }
  .create-service .outer-content {
    padding-top: 0;
  }
  .create-service .outer-content .inner-content {
    width: 100%;
  }
  .create-service .create-service-tabs {
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 20px 0;
    position: unset;
  }
  .create-service .create-service-tabs .inner-service-content-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .create-service .create-service-tabs .inner-service-content-box .btn-groups {
    width: 100%;
    text-align: center;
  }
  .create-service .create-service-tabs .inner-service-content-box .btn-groups .btn {
    line-height: 40px;
    display: block;
    background: #007bff;
    color: #ffffff;
    font-weight: 700;
  }
  .create-service .create-service-tabs ul.nav-tabs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    margin-bottom: 10px;
    grid-gap: 5px;
    line-height: 40px;
  }
  .create-service .create-service-tabs ul.nav-tabs li {
    min-width: unset;
    line-height: 40px;
    border-radius: 4px;
    background: #ffffff;
    text-align: center;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  .create-service .create-service-tabs ul.nav-tabs li:nth-child(1), .create-service .create-service-tabs ul.nav-tabs li:nth-child(3) {
    grid-column: auto / span 2;
  }
  .create-service .create-service-tabs ul.nav-tabs li:last-child {
    grid-column: auto / span 3;
  }
  .create-service .gallery-tab-container .main-upload-wrapper .box .upload-wrap,
  .create-service .packages-pricing-wrapper {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .create-service .add-extra-service,
  .create-service .faq-section,
  .create-service .question-input-container,
  .create-service .add-new-btn-ques {
    display: none !important;
  }
  .try-now,
  .outer-heading-box .custom-switch {
    display: none;
  }
  .order-request h5,
  .order-request h6 {
    font-size: 16px !important;
  }
  .order-request p {
    font-size: 14px !important;
  }
  .order-request .create-service-tabs ul.nav-tabs {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .order-request .create-service-tabs ul.nav-tabs li {
    margin-bottom: 5px !important;
    overflow: hidden;
    grid-column: unset !important;
  }
  .order-request .create-service-tabs ul.nav-tabs li:last-child {
    margin-bottom: 0 !important;
  }
  .order-request .summary-wrapper {
    margin-top: 20px;
  }
  .order-request .confirm-and-pay .lists-item,
  .order-request .confirm-and-pay .add-payment-method {
    padding: 0;
  }
  .order-request .confirm-and-pay .payment-option {
    display: block;
  }
  .order-request .confirm-and-pay .payment-option .form-check {
    margin-bottom: 20px;
  }
  .order-request .confirm-and-pay .payment-option .form-check:last-child {
    margin-bottom: 0;
  }
  .settings-container {
    padding: 20px 0;
  }
  .settings-container .outer-content .manage-tab-container ul.nav-pills li:nth-last-child(1) {
    grid-column: auto / span 1 !important;
  }
  .settings-container .outer-content .manage-tab-container .basic-info {
    margin-top: 25px;
  }
  .settings-container .outer-content .balance-container {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .settings-container .outer-content .payment-method-tab ul.nav-tabs {
    border: 0;
    display: block;
    overflow: visible;
  }
  .settings-container .outer-content .payment-method-tab ul.nav-tabs li {
    width: 100% !important;
    margin-bottom: 10px;
    border-radius: 4px !important;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .settings-container .outer-content .payment-method-tab ul.nav-tabs li a.active {
    border: 0;
  }
  .settings-container .outer-content .payment-method-tab .tab-content {
    border-radius: 4px !important;
  }
  .settings-container .outer-content .payment-method-tab .tab-content .lists-item .inner-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .settings-container .outer-content .payment-method-tab .tab-content .payment-option {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-top: 25px;
  }
  .settings-container .outer-content .transaction-history .receipt {
    margin-top: 15px;
  }
  .buyer-order .create-service-tabs ul.nav-tabs {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin-bottom: 0;
  }
  .buyer-order .create-service-tabs ul.nav-tabs li {
    margin-bottom: 0 !important;
  }
  .buyer-order h6.user-name {
    font-size: 16px !important;
  }
  .buyer-order .seller-reply-box .card-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .buyer-order .seller-reply-box .card-header .select-box {
    width: 100%;
    margin-bottom: 10px;
  }
  .buyer-order .btn-link {
    font-size: 18px !important;
  }
  .buyer-order .btn-link .share-info {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .buyer-order .custom-accordion .card .card-header h2 button[aria-expanded="true"]:after,
  .buyer-order .custom-accordion
.card
.card-header
h2
button[aria-expanded="false"]:after {
    right: 0;
    top: 10px;
  }
  .tab-list-item {
    padding: 0 10px !important;
  }
  .tab-list-item::after {
    left: 30px;
  }
  .tab-list-item .t-header .box-item h6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 0;
    line-height: 20px;
    font-size: 14px !important;
  }
  .tab-list-item .t-header .box-item:first-child {
    margin-right: 5px;
  }
  .tab-list-item .t-body {
    padding-left: 45px;
  }
  .delivery-list-item .content-header {
    background: #edeff3;
    padding: 10px;
  }
  .delivery-list-item .content-header h6 {
    font-size: 14px !important;
  }
  .delivery-list-item .content-body {
    padding: 15px;
  }
  .user-info-content .user-img {
    margin-right: 10px;
  }
  .user-info-content .user-img img {
    width: 35px;
    height: 35px;
  }
  .user-info-content .user-details p {
    margin-bottom: 10px !important;
  }
  .delivery-btn-wrapper h6 {
    display: none !important;
  }
  .seller-reply-box {
    display: none;
  }
  .attachments .attachment-lists,
  .tab-list-item.delivered-order .source-file {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .details-tab-container {
    padding: 15px !important;
  }
  .details-tab-container .details-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .details-tab-container .details-header .box:last-child {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    background: #edeff3;
  }
  .details-tab-container .details-header .box:last-child p {
    margin-bottom: 0 !important;
  }
  .details-tab-container .description {
    margin-top: 15px !important;
  }
  .details-tab-container .order-no a {
    font-size: 14px;
  }
  .details-tab-container .order-detail-info .heading-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .details-tab-container .order-detail-info .heading-container p:first-child {
    margin-bottom: 5px;
  }
  .details-tab-container .order-detail-info .heading-container p:first-child i.fa {
    margin-right: 5px;
  }
  .details-tab-container .order-detail-info .heading-container p:last-child {
    padding-left: 20px;
  }
  .details-tab-container .order-detail-info .table-responsive tr th:first-child {
    min-width: 150px;
  }
  .admin .confirm-order {
    display: none;
  }
  .buyer-order .activity-tab-container .order-completed {
    padding: 15px !important;
  }
  .buyer-order .activity-tab-container .order-completed h6 {
    font-size: 14px !important;
    line-height: 20px;
  }
  .feedback-container {
    margin-top: 20px;
  }
  .feedback-container .feedback-body .feed-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .feedback-container .feedback-body .feed-box .box:first-child {
    margin-bottom: 10px;
  }
  .feedback-container .feedback-body .skills-endorsement ul li {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 6px;
  }
  .feedback-container .feedback-body .tips {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .feedback-container .feedback-body .tips a.btn {
    border-radius: 0;
  }
  .feedback-container .feedback-body .tips a.btn:nth-child(1), .feedback-container .feedback-body .tips a.btn:nth-child(2) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 375px) {
  .resolution-center ul.nav-tabs li a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .resolution-center .card {
    padding: 15px !important;
  }
  .resolution-center .form-check,
  .resolution-center .summary-wrapper li {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  ul.main-menu li.nav-item .notification {
    width: 300px;
  }
  .sing-in-and-up-container {
    padding: 40px 20px;
    max-height: unset;
    height: 100%;
  }
  .sing-in-and-up-container .outer-box.left-side {
    display: none;
  }
  .sing-in-and-up-container .outer-box.right-side {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .sing-in-and-up-container .outer-box.right-side .inner-box .form {
    width: 100%;
  }
  .sing-in-and-up-container .outer-box.right-side .inner-box .form .terms-condition {
    font-size: 12px;
    padding: 15px 50px;
    line-height: 22px;
  }
  .sing-in-and-up-container .outer-box.right-side .inner-box .form .account-btn {
    font-size: 12px;
  }
  .sing-in-and-up-container .outer-box.right-side .inner-box .form .buyer-account {
    font-size: 12px;
    padding: 10px 50px;
    line-height: 22px;
  }
  .sing-in-and-up-container .outer-box.right-side .inner-box .form .btn-container .forget-password {
    font-size: 14px;
  }
  .service-details .user-info ul li {
    font-size: 13px !important;
  }
  .manage-order .outer-content .manage-tab-container {
    display: block;
    -ms-grid-columns: unset;
        grid-template-columns: unset;
  }
  .manage-order .outer-content .manage-tab-container ul.nav-pills {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .manage-order .outer-content .manage-tab-container ul.nav-pills li:nth-child(4) {
    grid-column: unset;
  }
  .outer-content .manage-tab-container ul.nav-pills li:nth-last-child(1) {
    grid-column: auto / span 2 !important;
  }
}
/*# sourceMappingURL=responsive.css.map */